/* 通知ボックスのスタイル */
.box {
    border: 1px solid black;
    margin: 20px auto;
    padding: 3px 20px 10px 20px;
    width: 80%;
    min-height: 100px;
    max-width: 900px;
    box-sizing: border-box;
}
.non-box {
    margin: 0 auto;
    padding: 3px 20px 10px 20px;
    width: 80%;
    max-width: 900px;
    box-sizing: border-box;
}

/* ページタイトルのスタイル */
h1,
h2 {
    background-color: white;
    margin: 30px 0 30px 0;
    text-align: center;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media screen and (max-width: 700px) {
    body {
        width: 100%;
    }
}

.limit {
    color: red;
    font-size: 1.1rem;
    text-align: center;
}

/* ここから下がボタンのCSS　*/
.container {
    text-align: center;
}
.c-button {
    outline: none;
    display: inline-block;
    width: inherit;
    min-width: 240px;
    text-align: center;
    background-color: #fff;
    color: black;
    border-bottom: 1px solid black;
    text-decoration: none;
    position: relative;
    transition: all 0.3s;
    padding: 24px 24px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
    opacity: 1 !important;
}
.c-button span {
    position: relative;
    z-index: 99;
}
.c-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: black;
    transition: all 0.3s;
}
.c-button svg {
    width: 45px;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    transition: all 0.2s;
}
.c-button:hover {
    color: #fff;
}
.c-button:hover:after {
    width: 100%;
}
.c-button:hover svg path {
    stroke: #fff;
    transition: all 0.1s 0.2s;
}
/* ここまで */

footer {
    text-align: center;
    margin-top: 6vh;
    font-size: 0.8rem;
}
@media (min-width: 680px) {
    .sp {
        display: none;
    }
}
